/* Home Page Styles */
.grid {
  padding: 30px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  box-sizing: border-box;
}

.grid-item {
  justify-self: center;
  align-self: center;
  text-align: center;
}